.advantages__header {
  font-family: @font-oswald;
  font-size: 36px;
  text-align: left;
  padding-left: 22px;
  margin-top: 0;
  padding-top: 24px;
}

.advantages__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.advantages__item {
  padding-left: 100px;
  margin-bottom: 32px;
}
