.btn {
  width: 100%;
  height: 40px;
  font-family: @font-oswald;
  text-transform: uppercase;
  border: 0;

  &:hover,
  &:focus {
    background-color: @dark-leaf-color;
  }

  &:active {
    color: @white-two;
  }

  &--order {
    width: 100%;
    display: block;
    margin-bottom: 25px;
    color: @white-color;
    background-color: @leaf-color;
    .center;

    @media (--tablet-width) {
      width: 80%;
    }
  }

  &--show {
    color: @semi-black;
    background-color: @grey-color;
  }

  &--program {
    position: absolute;
    width: 87.5%;
    display: block;
    left: 0;
    right: 0;
    margin-top: 310px;
    .center;
    font-size: 14px;
    color: @white-color;
    text-decoration: none;
    background-color: @leaf-color;

    @media (--tablet-width) {
      z-index: 1;
      width: 32%;
      height: 52px;
      margin: 25px 0 0 0;
      left: 119px;
    }

    @media (--desktop-width) {
      margin-top: 53px;
    }
  }

  &--send {
    display: block;
    color: @white-color;
    background-color: @leaf-color;
    .center;

    @media (--tablet-width) {
      width: 100%;
      display: inline-block;
    }

    @media (--desktop-width) {
      width: 245px;
      margin-left: 35px;
    }
  }
}
