.cat-transform {
  background-color: @grey-color;
  min-height: 705px;
  margin-top: 47px;
}

.cat-transform__title {
  font-family: @font-oswald;
  text-align: left;
  font-size: 36px;
  padding-top: 33px;
  padding-left: 20px;
}

.cat-transform__text {
  color: @semi-black;
  font-family: @font-arial;
  text-align: left;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 24px;
}

.cat-transform__kg-loss {
  .cat-transform__boxes;
  margin-left: 20px;
}

.cat-transform__days-left {
  .cat-transform__boxes;
  margin-left: 24px;
}

.cat-transform__after {
  position: absolute;
  z-index: 50;
  width: 87px;
  height: 19px;
  color: @semi-black;
  font-size: 12px;
  background-color: @grey-color;
  margin-top: -40px;
  padding-top: 0;

  &--weight {
    left: 40px;
  }

  &--days {
    left: 194px;
  }
}

.cat-transform__changes {
  position: absolute;
  text-align: center;
  width: 54px;
  padding-left: 16px;
  padding-top: 8px;
  margin-top: 0;
}

.cat-transform__price {
  font-family: @font-oswald;
  text-align: center;
  text-transform: uppercase;
  margin-top: 24px;
  margin-bottom: 44px;
}
