.cat-purpose {
  border-bottom: @full-border;
  .fieldset-style;

  @media (--tablet-width) {
    margin-left: 38px;
    margin-right: 38px;
    margin-top: 72px;
    padding-left: 88px;
    border: @full-border;
  }

  @media (--desktop-width) {
    margin: 0 0 0 80px;
    display: inline-block;
    width: 570px;
    box-sizing: border-box;
    min-height: 196px;
  }
}

.cat-purpose__list {
  margin: 29px 0 26px 0;
  padding: 0;
  list-style: none;
  color: @light-black;
}

.cat-purpose__item {
  margin-bottom: 14px;
  font-family: @font-oswald;
  text-align: left;
  text-transform: uppercase;
}
