.catalog-goods__title {
  margin: 0;
  padding-top: 26px;
  padding-bottom: 32px;
  font-weight: normal;
  font-size: 36px;
  font-family: @font-oswald;
  text-align: left;
  border-top: 1px solid @opacity-black;

  @media (--tablet-width) {
    margin-bottom: 156px;
    font-size: 60px;
    border: none;
  }
}

.catalog-goods__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (--tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 608px;
  }
}
