.comments {
  border: 0;
  margin-top: 28px;
  padding: 0;
}

.comments__legend {
  font-family: @font-oswald;
  font-size: 24px;
  margin-left: 20px;
  margin-bottom: 31px;
}

.comments__text {
  margin-left: 20px;
  padding-top: 12px;
  padding-left: 14px;
  padding-right: 8px;
  box-sizing: border-box;
  width: 276px;
  height: 140px;
  font-family: @font-oswald;
  text-align: left;
  text-transform: uppercase;
  outline: none;
  resize: none;
}
