.extras {
  margin-top: 31px;
  padding: 0;
  border: 0;

  @media (--tablet-width) {
    padding: 0 38px;
    margin-top: 69px;
    margin-bottom: 20px;
  }

  @media (--desktop-width) {
    padding: 0;
  }
}

.extras__legend {
  width: 190px;
  font-size: 24px;
  font-family: @font-oswald;

  @media (--tablet-width) {
    font-size: 36px;
  }
}

.extras__list {
  margin: 39px 0 0 0;
  padding: 0;
  list-style: none;

  @media (--tablet-width) {
    margin-top: 64px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 48px;
  }

  @media (--desktop-width) {
    padding-left: 40px;
  }
}

.extras__item {
  margin-bottom: 28px;
  font-family: @font-oswald;
  text-align: left;
  color: @light-black;
  text-transform: uppercase;

  @media (--tablet-width) {
    flex-basis: 50%;
    font-size: 20px;
  }

  @media (--desktop-width) {
    flex-basis: auto;
    margin-right: 130px;
  }
}
