.fat-reduce {
  min-height: 266px;
  background-color: @grey-color;
}

.fat-reduce_svg {
  margin-left: 14px;
}

.fat-reduce__heading {
  .heading;
}

.fat-reduce__content {
  .content;
  padding-right: 36px;
}

.fat-reduce__catalog {
  .catalogs;
}
