.functional-food {
  min-height: 305px;
  background-image: url("../../img/index-background-mobile@1x.jpg");
}

.functional-food__slogan {
  .text-style;
  padding-top: 29px;
  font-size: 36px;
}

.functional-food__description {
  .text-style;
  font-size: 14px;
  padding-top: 19px;
  text-transform: uppercase;
}
