.invite-map {
  &--grey {
    background-color: @grey-color;
  }

  &--white {
    background-color: @white-color;
  }
}

.invite-map__title {
  min-height: 114px;
}

.invite-map__text {
  font-family: @font-oswald;
  width: 125px;
  .invite-map-text;
}

.invite-map__address {
  font-family: @font-arial;
  width: 135px;
  font-size: 14px;
  color: @semi-black;
  .invite-map-text;
}
