.main-footer {
  min-height: 236px;
  background-color: @grey-color;
  margin: 0;
}

.main-footer__logo-container {
  display: block;
  width: 128px;
  height: 24px;
  padding-top: 39px;
  .center;
}

.main-footer__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 125px;
  .center;
  padding: 0;
  margin-top: 50px;
}

.main-footer__academy {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  width: 280px;
  color: @semi-black;
  margin-top: 40px;
  .center;
}

.main-footer__name {
  width: 112px;
  height: 16px;
  line-height: 54px;
  vertical-align: baseline;
  margin: 0;
}

.main-footer__svg {
  display: inline-block;
  vertical-align: middle;
}

.main-footer__wrapper {
  line-height: 54px;
}
