.page-header {
  display: flex;
  flex-direction: column;
  min-height: 65px;

  @media (--tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }

  @media (--desktop-width) {
    box-sizing: border-box;
    margin: 0;
  }
}

.page-header__logo {
  display: block;
  width: 191px;
  height: 39px;
  margin-top: 11px;
  background: url("../../img/logo-mobile-header.png") no-repeat;

  @media (--tablet-width) {
    min-width: 174px;
    height: 59px;
    margin-top: 24px;
    background: url("../../img/logo-tablet.png") no-repeat;
  }

  @media (--desktop-width) {
    box-sizing: border-box;
    min-width: 610px;
    margin-top: 53px;
    background: url("../../img/logo-desktop.png") no-repeat;
  }
}
