.page-header {
  min-height: 65px;
  background-color: @white-color;
}

.page-header__logo {
  margin-left: 20px;
  padding-top: 11px;
  margin-bottom: 11px;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (--tablet-width) {
    min-width: 174px;
    height: 59px;
    margin-top: 24px;
    background: url("../../img/logo-tablet.png") no-repeat;
  }

  @media (--desktop-width) {
    box-sizing: border-box;
    min-width: 610px;
    margin-top: 53px;
    background: url("../../img/logo-desktop.png") no-repeat;
  }
}
