.page-form__container {
  border-top: @full-border;

  @media (--tablet-width) {
    margin-bottom: 69px;
  }
}

.page-form__title {
  margin-top: 26px;
  margin-bottom: 32px;
  font-weight: normal;
  font-size: 36px;
  font-family: @font-oswald;
  text-align: left;

  @media (--tablet-width) {
    font-size: 60px;
  }
}

.page-form__text {
  width: 226px;
  margin: 0;
  font-size: 14px;
  font-family: @font-oswald;
  text-align: left;
  text-transform: uppercase;

  @media (--tablet-width) {
    width: auto;
    margin-left: 38px;
    font-size: 20px;
    margin-right: 346px;
  }

  @media (--desktop-width) {
    width: 330px;
    margin-left: 0;
  }
}
