.page-header {
  display: flex;
  flex-direction: column;
  min-height: 65px;

  @media (--tablet-width) {
    flex-direction: row;
    justify-content: space-around;
  }

  @media (--desktop-width) {
    box-sizing: border-box;
    margin: 0;
  }
}

.page-header__logo {
  margin-top: 11px;
  min-height: 65px;
  box-sizing: border-box;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (--tablet-width) {
    min-width: 174px;
    height: 59px;
    margin-top: 24px;
  }

  @media (--desktop-width) {
    box-sizing: border-box;
    min-width: 610px;
    margin-top: 53px;
  }
}


.page-header__logo img {
  @media (--tablet-width) {
    width: 174px;
    height: 59px;
  }

  @media (--desktop-width) {
    box-sizing: border-box;
    width: 203px;
    height: 60px;
  }
}
