@font-oswald: "Oswald", Arial, sans-serif;
@font-arial: Arial, Helvetica, sans-serif;

@black-two: #111111;
@light-black: #222222;
@semi-black: #444444;
@semi-grey: #cdcdcd;
@grey-color: #f2f2f2;
@grey-two: rgba(17, 17, 17, 0.3);
@white-color: white;
@white-two: rgba(255, 255, 255, 0.3);
@opacity-black: rgba(1, 1, 1, 0.1);
@black-color: black;
@leaf-color: #68b738;
@dark-leaf-color: #5eaa2f;
@light-pink: #dcdcdc;

@full-border: 1px solid @opacity-black;
@custom-media --tablet-width (min-width: 768px);
@custom-media --desktop-width (min-width: 1440px);
